

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
body{
    background-color: red;
}  

/* footer  */ 

.footer-row{
    grid-template-columns: 1fr ;
}

}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
    body{
        background-color: teal;
    } 

    /* footer  */ 
    .footer-row{
        grid-template-columns: 1fr 1fr ;
    }

  
  
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
    body{
        background-color: green;
    } 
   




    /* footer  */

}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
    body{
        background-color: yellow;
    } 

    .footer-row{
        grid-template-columns: 2fr 1fr 1fr 1fr ;
    }


}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {

    body{
        background-color: saddlebrown;
    }
}