

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
body{
    background-color: red;
}  
 /* why section  */ 

 .why-container .cards{
  
 
    grid-template-columns:  1fr;

} 
 /* why section  */
.our-partners .parnter-col{
    flex: 0 0 calc(33.3333333333% - 20px);
}
.section-title{

    font-size: 1.75rem;
}
/* footer  */ 

.footer-row{
    grid-template-columns: 1fr ;
} 
.footer-row div{
    text-align: center;
}

}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
    body{
        background-color: teal;
    } 

    /* why section  */ 

 .why-container .cards{
  
 
    grid-template-columns:  1fr 1fr;

} 
 /* why section  */

    /* footer  */ 
    .footer-row{
        grid-template-columns: 1fr 1fr ;
    }

  
  
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
    body{
        background-color: green;
    } 
   




    /* footer  */

}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
    body{
        background-color: yellow;
    } 

    .footer-row{
        grid-template-columns: 2fr 1fr 1fr 1fr ;
    } 
    .why-container .cards{
  
 
        grid-template-columns:  1fr 1fr 1fr ;
    
    } 


}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {

    body{
        background-color: saddlebrown;
    }
}